<div id="footer" class="panel">
  <div class="panel-footer">
	<div class="container-fluid">
	  <div class="row">
              <p>&copy 2021 SoftSec Lab, <a href="https://cs.skku.edu/en">Department of Computer Science and Engineering</a>,
                  College of Computing and Informatics at <a href="https://skku.edu">Sungkyunkwan University</a><br>
                  Natural Science Campus, Sungkyunkwan University
		  (16419) 2066 Seobu-ro, Jangan-gu, Suwon, South Korea
                  (<a href="https://bit.ly/3cHw5te">Location @ GoogleMaps</a>)</p>
	  </div>
	</div>
  </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="{{ site.url }}{{ site.baseurl }}/js/bootstrap.min.js"></script>
